@model SGA.Models.Voluntario

@{
    ViewBag.Title = "Edit";
}

<ol class="breadcrumb">
    <li> <a href="@Url.Action("Index","Home")">Início</a> </li>
    <li> <a href="@Url.Action("Index","Cadastros")">Cadastros</a> </li>
    <li> <a href="@Url.Action("Index","Voluntario")">Voluntários</a> </li>
    <li class="active">Editar</li>
</ol>

<br />
<div class="container">

    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-group fa-3x"></i>
            <span style="margin-left:25px;font-size:32px">Editar</span>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Edit", "Voluntario", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.HiddenFor(m => Model.VoluntarioId)
                @Html.HiddenFor(m => Model.DtCadastro)

                <div class="form-group">
                    <label class="col-md-2 control-label"> CPF</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @maxlength = "12" } })
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label"> Nome</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="col-md-2 control-label"> Sobrenome</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="col-md-2 control-label"> Data de Nascimento</label>
                    <div class="col-md-2">
                        <div class="input-group date">
                            @Html.EditorFor(model => model.DtNascimento, new { htmlAttributes = new { @class = "form-control", @id = "dtNascimento" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="col-md-2 control-label"> Idade</label>
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Idade, new { htmlAttributes = new { @class = "form-control", @min = "14", @max = "100" } })
                    </div>
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <div class="col-lg-8" style="margin-left:182px">
                        <button class="btn btn-primary btn-lg">Salvar</button>
                        <a class="btn btn-danger btn-lg b" href="@Url.Action("Index","Voluntario")">Cancelar</a>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            }

        </div>
    </div>

</div>



@Scripts.Render("~/bundles/jquery")


<script>
    var dateTimeOptions = {
        dateFormat: "dd-mm-yy",
        dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
        dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
        firstDay: 1,
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        showButtonPanel: false,
        changeYear: true,
        yearRange: "1900:2017"

    };

    $(document).ready(function () {
        $('#volNascimento').datepicker(dateTimeOptions);
    });
</script>